version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: microservices
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - microservices-network

  orders-service:
    build:
      context: .
      dockerfile: OrdersService/Dockerfile
    container_name: orders_service
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__OrdersDatabase=Host=postgres;Database=orders;Username=postgres;Password=postgres
      - ConnectionStrings__RabbitMQ=amqp://guest:guest@rabbitmq:5672
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - microservices-network

  payments-service:
    build:
      context: .
      dockerfile: PaymentsService/Dockerfile
    container_name: payments_service
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__PaymentsDatabase=Host=postgres;Database=payments;Username=postgres;Password=postgres
      - ConnectionStrings__RabbitMQ=amqp://guest:guest@rabbitmq:5672
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - microservices-network

  api-gateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: api_gateway
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Services__OrdersService=http://orders-service:8080
      - Services__PaymentsService=http://payments-service:8080
    depends_on:
      - orders-service
      - payments-service
    restart: on-failure
    networks:
      - microservices-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: kpo_frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_APP_BACKEND=http://api-gateway:8080
    depends_on:
      - api-gateway
    networks:
      - microservices-network


volumes:
  postgres_data:

networks:
  microservices-network:
    driver: bridge
